<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537710204745-kfnf142tngunhqpo1aitot3qni231499.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537710204745-kfnf142tngunhqpo1aitot3qni231499</string>
	<key>API_KEY</key>
	<string>AIzaSyC8nYLGai876V-lvst2n1LTgEoM1BZc9Ls</string>
	<key>GCM_SENDER_ID</key>
	<string>537710204745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atd.Wallaby</string>
	<key>PROJECT_ID</key>
	<string>wallaby-c8be3</string>
	<key>STORAGE_BUCKET</key>
	<string>wallaby-c8be3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537710204745:ios:30506950a680639541ec98</string>
</dict>
</plist>